<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="InputFolderPath" value="C:\Users\SADIRAJU\Downloads\Brady Code Challenge - ETRM - June 2021\Brady Code Challenge_June 2021" />
		<add key="OutputFolderPath" value="C:\Users\SADIRAJU\Downloads\Brady Code Challenge - ETRM - June 2021\Brady Code Challenge_June 2021" />
	</appSettings>
</configuration>
